body{
    background-image: url(imagen/shety.co.jpg);
    background-size: cover;
}
.container{

    width: 100%;
    padding-right: 20rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;

}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -9rem;
  margin-left: -94px;
}

